@model PharmaCare.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


    <h1>Create</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ListPrice" class="control-label"></label>
                    <input asp-for="ListPrice" class="form-control" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price50" class="control-label"></label>
                    <input asp-for="Price50" class="form-control" />
                    <span asp-validation-for="Price50" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price100" class="control-label"></label>
                    <input asp-for="Price100" class="form-control" />
                    <span asp-validation-for="Price100" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label>Image</label>
                    </div>
                    <div class="col-8">
                        <input type="file" class="form-control" id="uploadBox" accept="image/x-png,image/gif,image/jpeg"  name="file" />

                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" onclick="return validateInput()" class="btn btn-primary">Create</button>

                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function validateInput() {
            if (document.getElementById("uploadBox").value === "") {
                alert("Error, Please select an image");
                return false;
            }
            return true;
        }

    </script>
}
